<div class="container">
  <div class="row">
    <div class="box shadow">
      <div class="col-sm-6"style="margin-left: 200px;">
          <div class="row">
            <div class="col-sm-12">
              <nav class="navbar navbar-light bg-info">
                <div class="container-fluid">
                  <span class="navbar-brand mb-0 h1" style="color:white;font-family:Italic;">Login</span>
                </div>
              </nav>
            </div>
          </div><%@address.each do |add|%>
          <div class="card" style="width: 35rem;">
            <div class="card-body">
              <h6 class="card-title mb-3">
                <b>Address : </b><%=add.street_address%>
              </h6>
              <h6 class="card-subtitle mb-2">
                <b>City : </b><%=add.city%>
              </h6>
              <p class="card-text mb-2">
                <b>State: </b><%=add.state%>
              </p>
              <p class="card-text mb-2">
                <b>country : </b><%=add.country%>
              </p>
              <p class="card-text">
                <b>Pin code : </b><%=add.pin_code%>
              </p>
              <%# byebug %>
             <p class="confirm"><%#=link_to "CONFIRM",orders_path(user_id: current_user.id , vegetable_id: params[:vegetable_id], address_id: params[:id], cartitems_id: params[:ids], bunch_buy: params[:buch_buy]),class:"btn btn-warning",style:"margin-left:250px;width:200px;color:white;font-family:bold;",method:"post"%>
              <%=link_to "Pay Amount",root_path,class:"btn btn-primary"%>
              </p>
            </div>
          </div><%end%>
      </div>
      <div class="col-sm-4">
        <%=image_tag('shopping.jpg')%>
      </div>
    </div>
  </div>
</div><br><br><br>
 <script type="text/javascript">
  $(".confirm").on("click", function(){
         alert("Thank You Visit Our Website !..")
    });
</script>

