<style type="text/css">
 .btn-grad {background-image: linear-gradient(to right, #159957 0%, #155799  51%, #159957  100%)}
 .btn-grad {
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
</style>
<div class="container">
<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-4" style="margin: 10px;">
<h3 style="font-family: cursive;text-align: center;">Add new Vegetable </h3>
  <%= form_for @vegetable do |f|%>
    <%=f.label :name%>
    <%=f.text_field :name,class:"form-control"%>
    <%=f.label :price%>
    <%=f.text_field :price,class:"form-control"%>
    <%=f.label :category_id,style:"margin-top:5px;margin-bottom:5px;"%>
    <!-- bind dropdown list -->
    <%= f.select :category_id, Category.all.collect { |p| [ p.name, p.id ] }, include_blank: true ,class:"form-control"%><br>
    <%=f.label :description%>
    <%=f.text_field :description,class:"form-control"%>
    <%=f.label :vegetable_img%>
    <%=f.file_field :vegetable_img,class:"form-control"%>
    <%=f.submit "add vegetable",class:"btn-grad",style:"margin-top:10px;"%>
  <%end%>
</div>
</div>
</div>