<div class="container">
<div class="row" style="margin-top:10px;">
<% @category.each do |cat|%>
   <div class="col-sm-4" style="margin-top:10px;">
    <div class="card" style="width: 18rem;">
     <div class="card-body">
      <h5 class="card-title" style="text-align:center;font-family:cursive;"><%=cat.name%></h5>
      <% if current_user.role == "admin"%>
        <%= link_to "Show" ,category_path(cat.id),class:"btn btn-info"%>
          <%= link_to "Edit " ,edit_category_path(cat.id),class:"btn btn-info"%>
            <%= link_to "Destroy" ,category_path(cat.id),method: :delete,class:"btn btn-danger"%>
            <%else%>
            <%= link_to "Show" ,category_path(cat.id),class:"btn btn-info",style:"width:250px;"%>
            <%end%>
    </div>
  </div>
</div>
<%end%>
</div>
</div>